@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    
}

main {
    min-width: 100vw;
    min-height: 100vh;
}

.title {
    font-family: 'Monoton', cursive;
}

.menu {
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}
/* div, section {
    border-width: 1px;
    border-color: white;
    border-radius: 0.5em;
    padding: 0.1em
} */
