@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: radial-gradient(859px at 10% 20%, rgb(245, 220, 154) 0%, rgb(164, 78, 51) 90%);}

main {
    min-width: 100vw;
    min-height: 100vh;
}

.title {
    font-family: 'Monoton', cursive;
}

.menu {
    background: radial-gradient(rgb(221, 221, 221) 0%, rgb(110, 136, 161) 100%);
}

.first-color { 
	background: #f2e9d0; 
}
	
.second-color { 
	background: #eaceb4; 
}

.third-color { 
	background: #e79e85; 
}

.fourth-color { 
	background: #bb5a5a; 
}

.font-first-color { 
	color: #f2e9d0; 
}
	
.font-second-color { 
	color: #eaceb4; 
}

.font-third-color { 
	color: #e79e85; 
}

.font-fourth-color { 
	color: #bb5a5a; 
}
div, section {
    border-width: 1px;
    border-color: white;
    border-radius: 0.5em;
    padding: 0.1em
}
